<div class="conatiner">
    <div class="navbar">
        <div>
            <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
        </div>
        <div>
            <a class="nav-link" routerLinkActive="active" routerLink="/active">Active</a>
        </div>
        <div>
            <a class="nav-link" routerLinkActive="active" routerLink="/deleted">Deleted</a>
        </div>
        <div>
            <a class="nav-link" routerLinkActive="active" routerLink="/manage">Manage</a>
        </div>
    </div>
    <hr>
    <hr>
    <router-outlet></router-outlet>
</div>